.borde{
    border: 1px solid black;
}
.card{
    border-radius: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.cabecera{
    //background-color: #E84F17;
    height: 60px;
    border-bottom: 3px solid #CDCAC9;
    padding: 10px 15px 10px 15px;
}
.cabecera ion-col{
    font-size: 16px;
    color: white;
    padding: 10px;
}
.cuerpo{
    vertical-align: middle;
    padding-left: 10px;
    padding-right: 10px;
    color: #000000;
}

.roundedInput{
    z-index: 1;
    color: #070606;
    height:80%;
   -webkit-border-radius: 10px;
    -moz-border-radius: 5px;
    border-radius: 12px;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(225,225,225);
    margin-left: 5%;
    background-color: transparent;
    margin-right: 5%;
    margin-top: 10px;
   -webkit-box-shadow: 17px 11px 34px -10px rgba(0,0,0,0.7);
   -moz-box-shadow: 17px 11px 34px -10px rgba(0,0,0,0.7);
   box-shadow: 16px 8px 20px -20px rgba(0, 0, 0, 0.7);
}

.limitador{
    min-width: 200px !important;
    width: 300px !important;
}
.centrar{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  ion-content{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }