ion-header, ion-content {
  //  --background: white;
}

ion-card{
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 80% !important;
    top: 10%;
    left: 10%;
    right: 10%;
    bottom: auto;
    margin-top: 40px !important;
    margin: auto !important;
    justify-content: center;
    border: solid 1px #ebebf2;
  }

  .centrar{
    display: flex;
    justify-content: center;
    align-items: center;
  }